# dependencies
node_modules/
client/node_modules/
server/node_modules/
.vscode
.vscode/
client/.vscode/


# build
.next/
dist/
build/

# environment variables
.env
.env.local
server/.env
server/.env.local

# misc
.DS_Store
*.log
